.valls-container{
  width: 100%;
  position: relative;
  padding: 20px 0;
  margin-top: 3rem  ;
  overflow: hidden;

}
.react-stacked-center-carousel {
  width: 100% !important;
}
.valls-container .vall-heading{
  color: white;
  font-size: 25px;
  margin-left: 5rem;
}

.valls-images {
  width: "100%";
  height: 400px;
}

.vall-img{
  height: "100%";
  width: 200px;
  object-fit: "cover";
  border-radius: 0;
  border-left: 10px solid black;
  border-right: 10px solid black;
}


.overlay-main{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 90%;
  padding: 0 20px;
  color: white;
  justify-content: space-between;
}

.valls-container p{
  color: #2F2F2F;
  text-align: center;
}

.v-icons{
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.v-left{
  position: absolute;
  top: 60%;
  left: 10%;
}

.v-right{
  position: absolute;
  top: 60%;
  right: 9%;
}