
.feature-container p{
    color: #2F2F2F;
    text-align: center;
}

.feature-container .f-heading{
    color: white;
    font-size: 25px;
    margin-left: 3.3rem;
    font-family: serif;
}

.feature-cards{
    justify-content: center;
    gap: 25px;
    width: 95% !important;
    margin: auto;
    padding-left: 20px;
}

.f-card{
    width: 93% !important;
    height: 550px;
    position: relative;
}

.f-card img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.f-description {
    position: absolute;
    bottom: 1rem;
    padding-left: 20px;
}

.f-description h5{
    margin-bottom: 5px;
    font-size: 20px;
    font-family: serif ;
    color: white;
}

.f-description a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: end;
    font-size: 17px;
}

.f-description .f-icon{
    font-size: 19px;
}

@media screen and (max-width: 425px){
    .feature-container .f-heading{
        margin-left: 2rem;
    }

    .feature-cards{
        width: 100% !important;
    }

    .f-card{
        width: 95% !important;
    }

    .feature-container p{
        display: none;
        width: 100%;
    }
}