
.areas-main{
  background: rgb(0, 0, 0);
  padding:  00px 30px;
  margin-bottom: 3rem;
  
}

.areas-main h5 {
  font-size: 30px;
  color: white;
  font-family:  serif;
  margin-bottom: 30px;
  margin-left: 3rem;
}
.areas-container{
    position: relative;
    display: flex;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
 }
 
.areas-container .areas-images{
     position: relative;
 }

 .areas-headpara{
    text-align: center;
 }

 .areas-headpara h2{
    font-weight: 900;
    font-size: 30px;
    color: #3D506D;
    margin-bottom: 20px;
 }
 
 .areas-headpara span{
    font-style: italic;
    padding-top: 25px;

 }

   .areas-container .areas-images{
    height: 290px;
     transition: 0.3s;
     overflow: hidden;
   }

   .areas-container .areas-images img{
     width: 100%;
     height: auto;
     position: absolute;
     transform: 0.3s;
     object-fit:fill;
     z-index: -1;
     border-radius: none;
   }
 
   .areas-slider{
     width: 33%;
     margin: 0 auto;
   }
 
   .slick-next,.slick-prev{
     display: none !important;
   }

   /* areas desc */

   .areas-desc {
    position: absolute;
    background: rgba(0,0,0,1);
    padding: 5px 15px;
    color: white;
    z-index: 99;
    top: 1rem;
    left: 1rem;
   }

   .image-description {
    color: white;
    display: flex;
    justify-content: space-between;
   }

   .image-description .d-left span{
    font-size: 20px;
    font-family: serif;
   }
   
   .slider-m{
    margin-bottom: 0;
    height: 287px;
   }

   @media screen and (max-width: 425px) {
   
    .areas-main h5{
      font-size: 25px;
      margin-left: .5rem;
    }
    .areas-container{
      flex-direction: column;
      width: 100%;
    }

    .areas-slider{
      width: 100%;
    }

    .areas-container .areas-images{
      height: 243px;
    }

    .slider-m{
      height: 250px;
    }

    .image-description .d-left span{
      font-size: 18px;
    }

    .image-description p{
      margin-top: 0.5rem;
      font-size: 14px;
    }

   

   }